# Dependencies
node_modules/
package-lock.json
yarn.lock

# Build outputs
dist/
build/
.vite/

# Rust
target/
**/*.rs.bk

# Environment
.env
.env.local
.env.*.local

# IDE
.idea/
.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
.DS_Store
*.swp
*.swo
*~
*.su?

# Tauri
src-tauri/target/
.obsidian
desktop/src-tauri/gen/
